{% extends "/base/base.html" %}

{% block contents %}

    <div class="modal fade" id="upload-file-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <form action="/assets/virtual/vmassets/import" role="form" method="POST" enctype=multipart/form-data>
                        <div class="form-group">
                            <input type="file" name="upload-excel">
                        </div>
                        <button type="submit" class="btn btn-primary btn-xs" value="upload">上传</button>
                        <button type="reset" class="btn btn-warning btn-xs">重置</button>
                        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">取消</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div id="add-vmassets-Modal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">新增资源</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline animated bounceInLeft" id="vmassets-form" action="/assets/virtual/insert" method="POST">
                        {% for x,y in modalval %}
                        <div class="form-group" style="margin-top:5px">
                            <label for="{{x}}" class="add_res_form_wid">{{y}}</label>
                            <input type="text" name="{{x}}" class="form-control" id="{{x}}" placeholder="{{x}}">
                        </div>
                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary btn-xs add-vmassets-btn">保存并添加</button>
                </div>
            </div>
        </div>
    </div>


    <div id="update-vmassets-Modal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">请填写资源规格参数</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline animated bounceInLeft" id="update-vmassets-form" action="/assets/virtual/update" method="POST">
                        {% for x,y in modalval %}
                        <div class="form-group" style="margin-top:5px">
                            <label for="{{'update_' + x}}" class="add_res_form_wid">{{y}}</label>
                            <input type="text" name="{{'update_' + x}}" class="form-control" id="{{'update_' + x}}" placeholder="{{x}}">
                        </div>
                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary btn-xs update-btn">保存并修改</button>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel text-left">
                        <div class="panel-body">
                            <button type="button" class="btn btn-xs btn-danger text-left lotdel-btn" onClick="">批量删除</button>
                            <button type="button" class="btn btn-xs btn-primary text-left" data-toggle="modal" data-target="#add-vmassets-Modal">新增资源</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="pane text-right">
                        <div class="panel-body">
                            <button type="button" class="btn btn-xs btn-primary text-right" id="export-vmassets-btn">导出</button>
                            <button type="button" class="btn btn-xs btn-primary text-right" data-toggle="modal" data-target="#upload-file-Modal">导入</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover" style="white-space: nowrap;" id="data-table">
                    <thead>
                        <tr>
                            <th width="40" class="sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 40px;">
                                <input id="control" type="checkbox" name="control" value="false" onClick="allselect()" data-state="false">
                            </th>
                            {% for thead in theads %}
                            <th>{{thead}}</th>
                            {% endfor %}
                            <th>操作</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        {% for data in assetdata %}
                        <tr>
                            <td><input name="item" type="checkbox" class="item{{loop.index}}" data-id="{{data['id']}}"></td>
                            <td>{{loop.index}}</td>
                            <td>{{data["room"]}}</td>
                            <td>{{data["pool"]}}</td>
                            <td>{{data["project"]}}</td>
                            <td>{{data["vmname"]}}</td>
                            <td>{{data["ip"]}}</td>
                            <td>{{data["cpu"]}}</td>
                            <td>{{data["memory"]}}</td>
                            <td>{{data["disk"]}}</td>
                            <td>{{data["system"]}}</td>
                            <td>{{data["hostname"]}}</td>
                            <td>{{data["user"]}}</td>
                            <td>{{data["password"]}}</td>
                            <td>{{data["contact"]}}</td>
                            <td>{{data["cphone"]}}</td>
                            <td>{{data["bank"]}}</td>
                            <td>{{data["bphone"]}}</td>
                            <td>{{data["startdate"]}}</td>
                            <td>{{data["enddate"]}}</td>
                            <td>{{data["note"]}}</td>

                            <td><button data-id="{{data['id']}}" class="btn btn-danger btn-xs delete-vmassets-btn">删除</button><button type="submit" data-id="{{data['id']}}" data-room="{{data['room']}}" data-pool="{{data['pool']}}" data-project="{{data['project']}}" data-vmname="{{data['vmname']}}" data-ip="{{data['ip']}}" data-cpu="{{data['cpu']}}" data-memory="{{data['memory']}}" data-disk="{{data['disk']}}" data-system="{{data['system']}}" data-hostname="{{data['hostname']}}" data-user="{{data['user']}}" data-password="{{data['password']}}" data-contact="{{data['contact']}}" data-cphone="{{data['cphone']}}" data-bank="{{data['bank']}}" data-bphone="{{data['bphone']}}" data-startdate="{{data['startdate']}}" data-enddate="{{data['enddate']}}" data-note="{{data['note']}}" style="margin-left:10px;" class="btn btn-warning btn-xs update-vmassets-btn" data-toggle="modal" data-target="#update-vmassets-Modal">更新</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

<script>

    // 全选按钮
    function allselect(){
        var control = $("#control").attr("data-state")

        var allchecks = $(".table-responsive").find("tbody").find("input")

        if(control == "false"){
            for(var i=0;i<allchecks.length;i++){
                allchecks[i].checked=true
                $("#control").attr("data-state", "true")
            }
        }
        else if(control == "true"){
            for(var j=0;j<allchecks.length;j++){
                allchecks[j].checked=false
                $("#control").attr("data-state", "false")
            }
        }
    }

    // 批量删除按钮
    $(document).on('click', '.lotdel-btn', function() {
        var arr_id = []
        var item_num = $(".table-responsive").find("tbody").find("input").length
        for(var i=1;i<=item_num;i++){
            item = ".item"+i
            if($(item)[0].checked==true){
                arr_id.push($(item).attr("data-id"))
            }
        }
        console.log(arr_id)
        console.log(JSON.stringify(arr_id))
        swal({
                title: "确定删除吗？",
                text: "删除后你将永远会失去Ta",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定",
                closeOnConfirm: false
            },
            function() {
                // $.get('/del_res?id=' + id, function(res) {   
                $.post("/assets/virtual/vmassets/delete", {arr_id: JSON.stringify(arr_id)}, function(res) {
                    if (res == 'ok') {
                        swal('删除成功')
                        // 实现页面自动跳转
                        location.href = "/assets/virtual/vmassets"
                    } else if (res == 'error') {
                        swal('删除失败')
                    }
                })
            })
        return false
        })

    // 添加资产js
    $('#add-vmassets-Modal').find('.add-vmassets-btn').on('click', function() {
        var vmassets_info_post = [
            $('#room').val(),
            $('#pool').val(),
            $('#project').val(),
            $('#vmname').val(),
            $('#ip').val(),
            $('#cpu').val(),
            $('#memory').val(),
            $('#disk').val(),
            $('#system').val(),
            $('#hostname').val(),
            $('#user').val(),
            $('#password').val(),
            $('#contact').val(),
            $('#cphone').val(),
            $('#bank').val(),
            $('#bphone').val(),
            $('#startdate').val(),
            $('#enddate').val(),
            $('#note').val()
        ]
        console.log(vmassets_info_post)
        $.post("/assets/virtual/vmassets/insert", {insert_val: JSON.stringify(vmassets_info_post)}, function(res) {
            if (res == 'ok') {
                $('#vmassets-form')[0].reset()
                $('#add-vmassets-Modal').modal('hide')
                swal({
                    title: "666",
                    text: "恭喜恭喜，添加用户成功",
                    imageUrl: "/static/sweetalert/example/images/thumbs-up.jpg"
                })
                // 实现页面自动跳转
                location.href = "/assets/virtual/vmassets"
            } else {
                swal("用户添加失败", "用户名不能为空哦~", "error")
            }
        })
        // return false
    })

    // 按钮删除用户
    $(document).on('click', '.delete-vmassets-btn', function() {
        var arr_id = [$(this).attr('data-id')]
        console.log(arr_id)
        swal({
                title: "确定删除吗？",
                text: "删除后你将永远会失去Ta",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定",
                closeOnConfirm: false
            },
            function() {
                // $.get('/del_res?id=' + id, function(res) {
                $.post('/assets/virtual/vmassets/delete', {arr_id: JSON.stringify(arr_id)}, function(res) {
                    if (res == 'ok') {
                        swal('删除成功')
                        // 实现页面自动跳转
                        location.href = "/assets/virtual/vmassets"
                    } else if (res == 'error') {
                        swal('删除失败')
                    }
                })
            })
        return false
    })

    // 更新用户
    $(document).on('click', '.update-vmassets-btn', function() {
        $('#update_room').val($(this).attr('data-room'))
        $('#update_pool').val($(this).attr('data-pool'))
        $('#update_project').val($(this).attr('data-project'))
        $('#update_vmname').val($(this).attr('data-vmname')),
        $('#update_ip').val($(this).attr('data-ip')),
        $('#update_cpu').val($(this).attr('data-cpu')),
        $('#update_memory').val($(this).attr('data-memory')),
        $('#update_disk').val($(this).attr('data-disk')),
        $('#update_system').val($(this).attr('data-system')),
        $('#update_hostname').val($(this).attr('data-hostname')),
        $('#update_user').val($(this).attr('data-user')),
        $('#update_password').val($(this).attr('data-password')),
        $('#update_contact').val($(this).attr('data-contact')),
        $('#update_cphone').val($(this).attr('data-cphone')),
        $('#update_bank').val($(this).attr('data-bank')),
        $('#update_bphone').val($(this).attr('data-bphone')),
        $('#update_startdate').val($(this).attr('data-startdate')),
        $('#update_enddate').val($(this).attr('data-enddate')),
        $('#update_note').val($(this).attr('data-note'))
        $('#update-vmassets-Modal').attr('data-id', $(this).attr('data-id')).modal('show')
    })

    $('#update-vmassets-Modal').find('.update-btn').on('click', function() {
        // var id = $('#update-user-Modal').attr('data-userid')
        var vmassets_info_post = {
            update_val:JSON.stringify([
                $('#update_room').val(),
                $('#update_pool').val(),
                $('#update_project').val(),
                $('#update_vmname').val(),
                $('#update_ip').val(),
                $('#update_cpu').val(),
                $('#update_memory').val(),
                $('#update_disk').val(),
                $('#update_system').val(),
                $('#update_hostname').val(),
                $('#update_user').val(),
                $('#update_password').val(),
                $('#update_contact').val(),
                $('#update_cphone').val(),
                $('#update_bank').val(),
                $('#update_bphone').val(),
                $('#update_startdate').val(),
                $('#update_enddate').val(),
                $('#update_note').val()
            ]),
            _id: $('#update-vmassets-Modal').attr('data-id')
        }

        console.log(vmassets_info_post)
        $.post('/assets/virtual/vmassets/update', vmassets_info_post, function(res) {
            if (res == 'ok') {
                swal('用户信息修改成功')
                $('#update-vmassets-form')[0].reset()
                $('#update-vmassets-Modal').modal('hide')
                // 实现页面自动跳转
                location.href = "/assets/virtual/vmassets"
            } else if (res == 'error') {
                swal('信息修改失败')
                $('#update-vmassets-form')[0].reset()
                $('#update-vmassets-Modal').modal('hide')
            }
        })
        return false
    })

    // 实现页面自动转跳至导出excel路由
    $('#export-vmassets-btn').on('click',function(){
        location.href = "/assets/virtual/vmassets/export"
    })

    // dataTables分页
    $(document).ready(function() {
        $('#data-table').DataTable({
            'scrollCollapse': true,
            'scrollY': true,
            'scrollX': true,
            'scrollXInner': "150%"
        })
    })


    </script>



{% endblock %}